#info {
	position: fixed;
	bottom: 0;
	left: 0;
}

.knob {
	width: 70px;
	height: 70px;
	display: inline-block;
}

#knobs {
	position: fixed;
	right: 10px;
	top: 10px;
}

#cameraView {
	border: 1px solid #444;
	width: 500px;
	height: 500px;
}
